@import '../bootstrap-scss/bootstrap.scss';
// @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@300;400;600;700&display=swap');
$base-color:#fff;

body {
    background: #cccccc;
    font-family: 'Palanquin', sans-serif;
    color: #2F4662;

}

*:hover {
    transition: all 300ms linear;
}

img {
    max-width: 100%;
}

$sizes: 15,
20,
30,
40,
50,
60,
80;

@each $size in $sizes {
    .mtt-#{$size} {
        margin-top: #{$size}px;
    }

    .mtb-#{$size} {
        margin-bottom: #{$size}px;
    }

    .ptt-#{$size} {
        padding-top: #{$size}px;
    }

    .ptb-#{$size} {
        padding-bottom: #{$size}px;
    }
}

$sizes: uppercase,
capitalize,
lowercase,
normal;

@each $size in $sizes {
    .txt-#{$size} {
        text-transform: $size;
    }
}

.txt-left {
    text-align: left;
}

$heading-font-family:'Montserrat',
sans-serif;

.heading-txt {
    font-family: $heading-font-family;
    font-weight: 600;
}

.white-bg {
    background: $white;
}

header {
    padding: 10px 75px;
    background: $base-color;
    box-shadow: 0 0 14px -3px #333;
    float: left;
    width: 100%;

    .row {
        align-items: center;
        justify-content: center;
    }

    .business-area {
        float: left;
        width: 100%;
        padding-top: 7px;

        .logo {
            float: left;
            width: 100%;

            &.has_image {
                a {
                    display: flex;
                    flex-flow: row;
                    justify-content: center;
                    align-items: center;
                    column-gap: 21px;

                    .img-area {
                        max-width: 5rem;
                    }
                }
            }

            a {
                color: #640e27;
                float: left;
                line-height: 1;

                h1 {

                    font-size: 25px;
                    line-height: 1;
                    position: relative;
                    margin: 0;

                    span {
                        color: #5f0922;
                        font-weight: normal;
                    }

                }


                &:hover {
                    text-decoration: none;
                }
            }

            &.brd-rght {
                border-right: 1px solid #efefef;
            }
        }
    }



}

.m-snd-a {
    width: 30%;
    float: left;

    .sd-list-info {
        display: flex;
        flex-flow: row nowrap;
        padding-top: 5px;

        .sd-span-labl {
            color: rgba(47, 70, 98, 0.4);
            width: auto;
            border: none;
            display: flex;
            padding: 1.6px 12px;
            font-size: 1rem;
            align-items: center;
            line-height: 1.5;
            white-space: nowrap;

        }

        .sd-list {
            width: 200px;
            display: flex;
        }
    }
}

.menu-are {
    float: left;
    width: 90%;
}

.lang-s {
    float: left;
    width: 8%;
    margin-left: 2%;
    margin-top: 8px;
}

select {
    float: left;
    width: 100%;
    border: none;
}

.s-list {
    display: flex;
    flex-direction: row-reverse;

    &.list-unstyled {
        margin: 0;
        padding: 0;
    }

    li {
        color: rgba(47, 70, 98, 0.4);
        width: auto;
        border: none;
        display: flex;
        padding: 1.6px 12px;
        font-size: 1rem;
        align-items: center;
        line-height: 1.5;
        white-space: nowrap;

        .ls-anchor {
            color: #5f0922;
            transition: all 300ms linear;

            &:hover {
                text-decoration: none;
                color: #5f0922;
            }

            &.cause {
                background: #5f0922;
                color: white;
                padding: 7px 22px 9px;
                border-radius: 5px;
                line-height: 1;

            }

            &.w-l-bdr {
                border: 2px solid #5f0922;
                border-radius: 20px;
                padding: 7px 22px;
                line-height: 1;
                margin-top: 1px;
                margin-bottom: -1px;

                &:hover {
                    background: #5f0922;
                    color: #fff;
                    border-color: transparent;
                }
            }
        }

        &.lang {
            width: 100px;
        }

    }
}

.slider-section,
.vid-section {
    position: relative;
    z-index: 1;

    .bg-s {
        height: 36rem;
        // background: red;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        opacity: 0.99;

        &::before {
            content: "";
            background: #65132b;
            height: 100%;
            width: 100%;
            top: 0;
            right: 0;
            z-index: 0;
            display: block;
            position: absolute;
            opacity: .4;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: none;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
            width: 100%;
            height: 100%;
            // background: url('../img/bgone2.jpg');
        }

        &.sp-area {
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
                opacity: .8;
                background: #25020d;
            }
        }

        .sp-action {
            position: relative;
            z-index: 9;
            width: 100%;
            max-width: 50rem;
            display: flex;
            flex-flow: row;

            &.send-from-s {
                max-width: 30rem;

                .form-action {
                    width: 100%;

                    input {
                        height: 60px;
                        width: 100%;
                        padding-top: 16px;
                        padding-left: 10px;
                        font-size: 18px;
                        font-weight: 500;
                        color: rgba($color: #a22c4f, $alpha:0.9);
                        letter-spacing: 2px;
                        border-radius: 4px;
                        border: none;

                        &:focus {
                            outline: none;
                        }
                    }

                    .fa-calc,
                    .sendfrom,
                    .sendto {
                        display: flex;
                        flex-flow: column;
                    }

                    .sendfrom,
                    .sendto {
                        position: relative;

                        label {
                            position: absolute;
                            font-size: 13px;
                            margin: 3px 10px;
                        }
                    }

                    .fa-calc {
                        padding: 13px 50px;
                    }

                    .fa-calc {
                        position: relative;

                        &:after {
                            content: "";
                            height: 100%;
                            width: 2px;
                            background: #b82852;
                            position: absolute;
                            left: 19px;
                            top: 0;
                        }

                        .fa-calc-item {
                            margin: 6px 0;
                            color: white;
                            font-size: 17px;

                            &:after {
                                content: "";
                                position: absolute;
                                width: 30px;
                                height: 30px;
                                background: #b82852;
                                left: 5px;
                                border-radius: 50%;
                            }

                            &:before {
                                content: "-";
                                position: absolute;
                                left: 17px;
                                z-index: 9;
                                font-size: 25px;
                                line-height: 1;
                            }

                            &.g-rate {
                                &:before {
                                    content: "x";
                                    margin-left: -2px;
                                    font-size: 17px;
                                    margin-top: 4px;
                                }
                            }

                            &.amt-cnvrtl {
                                &:before {
                                    content: "=";
                                    margin-left: -2px;
                                    font-size: 17px;
                                    margin-top: 4px;
                                }
                            }

                        }

                        .m-left-30 {
                            width: 134px;
                            float: left;
                        }
                    }
                }
            }

            .form-send-c {
                width: 117px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 0;
                height: 60px;
                padding: 0 19px;
                background: #3b344d;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                color: white;
                font-size: 19px;
                font-weight: bold;

                .ctry-flag {
                    margin-right: 10px;
                }
            }


            .arr-sub {
                display: flex;
                flex-flow: column;
                width: 100%;

                .arr-d {
                    margin: 10px 0;
                    color: white;
                    width: 100%;
                }

                .sp-sbt-b {
                    a {
                        font-size: 19px;
                        background: #5f0922;
                        width: 100%;
                        float: left;
                        padding: 17px;
                        text-align: center;
                        line-height: 1;
                        color: white;
                        border-radius: 4px;

                        &:hover {
                            background: rgba($color: #5f0922, $alpha: .7);
                            text-decoration: none;
                        }
                    }
                }
            }


            @media (min-width: 960px) {
                max-width: 50rem;
            }

            @media (max-width: 960px) {

                max-width: 20rem;

            }

            .sp-title {
                width: 30rem;
                margin-top: 2.1rem;

                h1 {
                    font-size: 2.3rem;
                    color: $white;
                    font-weight: normal;
                    text-align: center;
                    margin-bottom: 48px;

                    b {
                        display: block;
                        font-size: 2.7rem;

                    }
                }

            }

            .sp-selectio {
                width: 41rem;

                &.ds-flex {
                    display: row;
                    justify-content: center;

                    @media (min-width: 960px) {
                        flex-direction: column;
                    }

                    @media (max-width: 960px) {

                        flex-direction: column;

                    }
                }



                .sp-dropdown-sce {
                    background: white;
                    width: 100%;
                    position: relative;
                    // border-top-left-radius: 5px;
                    // border-bottom-left-radius: 5px;
                    float: left;
                    margin-bottom: 12px;


                    @media (max-width: 960px) {
                        width: 100%;
                        // border-top-left-radius: 0;
                        // border-bottom-left-radius: 0;
                    }


                    button {
                        background: no-repeat;
                        border: none;
                        padding: 12px;
                        color: #0f0639;
                        float: left;
                        width: 100%;
                        text-align: left;

                        &:focus {
                            box-shadow: none;
                        }

                        &.dropdown-toggle {
                            &::after {
                                position: absolute;
                                right: 10px;
                                top: 50%;
                            }
                        }
                    }

                    .dropdown-menu {
                        width: 100%;
                        max-height: 678px;
                        overflow-y: auto;
                        top: 70px !important;
                        z-index: 99 !important;
                        background: #fff !important;
                    }
                }


                .sp-sbt-b {
                    // margin-top: 12px;
                    float: left;
                    width: 100%;

                    a {
                        padding: 14px 25px;
                        background: #80223e;
                        color: white;
                        text-decoration: none;
                        width: 100%;
                        text-align: center;
                        float: left;

                        // border-top-right-radius: 4px;
                        // border-bottom-right-radius: 4px;
                        &:hover {
                            background: #5f0922;
                        }

                        @media (max-width: 960px) {
                            width: 100%;
                            border-radius: 0;
                            float: left;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

.vid-section {
    position: relative;

    a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        float: left;
        z-index: 9;
    }
}

.section-title {
    font-size: 1.75rem;
    line-height: 1.07;
    padding-left: 56px;
    padding-right: 56px;
    padding-bottom: 56px;
    position: relative;
    font-weight: 700;

    &:after {
        position: absolute;
        content: "";
        height: 3px;
        width: 50px;
        background: #5f0922;
        bottom: 51%;
        left: 48%;
        border-radius: 10px;
        overflow: hidden;
    }

    &.no-border {
        &::after {
            display: none;
        }
    }

    span {
        font-size: 1.1rem;
        max-width: 40rem;
        align-self: center;
        text-align: center;
        font-weight: 200;
        padding-bottom: 24px;
        margin: 15px auto;
        display: block;
    }
}

.txt-bold {
    font-weight: 700;
}

.main {
    background: $white;

    .wyw {
        float: left;
        width: 100%;

        &.light-back {
            background: #fbfbfb;
        }

        .wyw-info {
            display: flex;
            margin-bottom: 30px;
            padding: 15px;
            box-shadow: 0 0 17px -6px #c5c5c5;
            border-radius: 10px;

            .wyw-icon {
                font-size: 2rem;
                margin-right: 10px;
                width: 110px;
            }

            .wyw-desc {


                .wyw-title {
                    font-size: 1.25rem;
                    font-weight: 700;
                    color: #640e27;

                    &.not-bold {
                        font-weight: normal;
                    }

                    &.txt-italic {
                        font-style: italic;
                    }
                }

                p {
                    font-size: 1.125rem;
                    color: rgba(47, 70, 98, 0.6);
                    line-height: 1.6;
                }
            }
        }
    }



}

// video section 
.vid-content {
    position: relative;
    color: $white;

    .icon-area {
        width: 60px;
        margin: 0 auto;
        height: 60px;
        background: white;
        margin-bottom: 10px;
        border-radius: 50%;
        color: #676a7c;
        text-align: center;

        i {
            font-size: 2.6rem;
            padding-top: 10px;
            padding-left: 3px;
        }
    }

    h3 {
        font-size: 2rem;
        font-weight: bold;
    }
}

.product-section {
    background: $white;
}

// #sec 
.product-list {
    position: relative;

    .btn-a {
        position: absolute;
        height: 100%;
        width: 100px;
        top: 0;
        left: 0;
        z-index: 9;
        background: linear-gradient(to right, #ffffff 0, rgba(255, 255, 255, .7) 100%);
        padding-top: 126px;
        font-size: 2rem;
        color: blue;
        padding-left: 29px;

        &.slick-disabled {
            display: none !important;
        }

        &.btn-right {
            right: 0;
            left: auto;
            background: linear-gradient(to left, #ffffff 0, rgba(255, 255, 255, .7) 100%);
        }
    }

    .pro-track {

        // padding: 10px 0;
        .slick-list {
            padding: 2px;
        }

        .prod-item {
            width: 320px !important;
            background: white;
            padding: 15px;
            margin: 0 15px;
            border-radius: 10px;
            box-shadow: 0 0 9px -4px #616161;

            &:first-child {
                margin-left: 0;
            }

            .icon-area {
                width: 126px;
                margin: 0 auto 15px;

            }

            .pd-item-title {
                font-weight: bold;
                margin-bottom: 10px;
                font-size: 18px;
                color: #640e27;
            }

            &.slick-slide {
                outline: none;

                &:focus {
                    border: none;
                }
            }

        }
    }
}

// discount offer

.discount-offer {
    padding: 13px;
    background: #2259af;
    color: white;
    float: left;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 4;
    position: relative;
    font-size: 12px;
}

.dis-area {
    float: left;
    width: 100%;

    .dis-left {
        i {
            float: left;
            margin-right: 10px;
            font-size: 1rem;
        }

        p {
            float: left;
            font-size: 0.8rem;
            line-height: 1;
            margin-bottom: 0;
            margin-top: 2px;
        }
    }

    .dis-right {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1.1rem;
        width: 53px;
        padding: 8px 18px 9px 10px;
        text-align: right;
    }

}

// registration
.register {
    .reg-title {
        font-size: 1.6rem;

        span {
            display: block;
            font-size: 1rem;
        }
    }

    .center-col {
        width: calc(100% / 2.85);
        margin: 20px auto;
        position: relative;

        .dropdown-toggle {
            width: 100%;
            color: #333;
            background: white;
            text-align: left;
            margin-bottom: 15px;
            position: relative;
            height: 50px;

            &::after {
                position: absolute;
                right: 10px;
                top: 50%;
            }
        }

        .right-checkbox {
            float: right;
        }


        .dropdown-menu {
            width: 100%;
            max-height: 678px;
            overflow-y: auto;
            top: 70px !important;
            z-index: 99 !important;
            background: #fff !important;
        }


    }
}

.form-control {
    padding: 10px;
    height: 50px;
    margin-bottom: 17px;
    font-size: 16px;
    padding-left: 50px;

    &:focus {
        box-shadow: none;
        border: 2px solid #819cc9;
        // color: #133672;
    }
}


.lg-header-area {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;

    span {
        font-size: 13px;
        display: block
    }
}

.new-registeration {
    font-size: 13px;
    line-height: 1;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #ccc;
    display: flex;

    .nr-info {
        width: 75%;
        font-size: 14px;
        margin-top: 10px;
    }

    .nr-s-btn {
        width: 36%;

        a {
            float: left;
            width: 100%;
            padding: 8px 15px;
            line-height: 1;
            font-size: 15px;
            text-align: center;
            color: white;
            border-radius: 28px;
            border: 2px solid #5f0922;
            color: #5f0922;
            margin-top: -2px;
            margin-bottom: -10px;

            &:hover {
                background: #5f0922;
                color: white;
                text-decoration: none;
            }
        }
    }
}




.d-re {
    position: relative;

    .emil-icon {
        font-size: 1.7rem;
        position: absolute;
        left: 7px;
        top: 5px;
        color: #819cc9;

        &.s-right {
            right: 10px;
            left: auto;
            font-size: 16px;
            color: #ccc;
            top: 13px;

            &.s-pase {
                &:hover {
                    cursor: pointer;
                    color: red;
                }
            }
        }
    }
}

.af-cu {
    position: relative;
    height: 48px;
    border-radius: 50px;
    box-shadow: 0px 7px 11px -7px rgb(46, 46, 46);
    background: #5f0922;
    border-color: #5f0922;

    &:hover {
        background: #a52045;
        border-color: #a52045;
    }

    &:after {
        content: "\f105";
        font-family: 'line awesome free';
        font-weight: 900;
        position: absolute;
        top: 13px;
        right: 18px;
        color: white;
        // background: #c51a4a;
    }
}

.terms-s {
    margin-top: 9px;
    font-size: 13px;
}

// loginsection
.login-sections {
    background: #f1f1f1;

    .login-view {
        flex: 1;

        &.b-box {
            min-width: 26rem;
            max-width: 26rem;
            margin-left: auto;
            margin-right: auto;
            padding: 1.75rem;
            border-radius: calc(2 * .25rem);
            box-shadow: 0 0.125rem 0.375rem 0 rgba(47, 70, 98, .1);
            background: #fff;

        }
    }
}


// footer
footer {
    background: $white;

    .ft-main {
        display: flex;

        .ft-co-l {
            flex: 1;

            &:first-child {
                flex: 1.3;
            }

            .ft-title {
                color: #2F4662;
                font-size: 1.1rem;
                font-weight: 700;
                text-align: left;
                line-height: 1.75;
            }

            .ft-content {
                li {
                    a {
                        margin: 3.2px 0px;
                        display: inline-block;
                        color: rgba(47, 70, 98, 0.7);
                        transition: color 300ms ease-in-out;
                        font-weight: 400;
                        font-size: 1rem;

                        &:hover {
                            text-decoration: none;
                            color: #5f0922;
                        }

                        &.c-s {
                            color: #fff;
                            padding: 5px 8px;
                            line-height: 1;
                            border-radius: 4px;
                            background-color: #5f0922;

                            &:hvoer {
                                color: white;
                            }
                        }



                    }

                }
            }
        }
    }

    .footer-mid {

        .f-mid-content {
            display: flex;
            flex-flow: row nowrap;

            .f-mid-col {
                display: flex;
                flex: 1 auto;
                align-items: center;

                ul {
                    margin: 0;
                    display: inline-flex;
                    flex-flow: row;
                    column-gap: 14px;

                    a {
                        font-size: 15px;
                        font-weight: 600;
                        color: rgba(47, 70, 98, 0.6);

                        &:hover {
                            color: rgba($color: #a22c4f, $alpha: .9);
                            text-decoration: none;
                        }
                    }
                }


                &:last-child {
                    flex-flow: row-reverse;

                    ul {
                        column-gap: 5px;

                        a {
                            font-size: 1.3rem;
                            color: rgba(47, 70, 98, 0.6);

                            &:hover {
                                color: rgba($color: #a22c4f, $alpha: .9);
                                text-decoration: none;
                            }
                        }
                    }

                }
            }
        }
    }

    .footer-bottom {
        p {
            margin: 0;
            font-size: .8rem;
        }
    }

}

.light-bg-content {
    background: #f1f1f1;
}

.hr-seperator {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc;

}

.st-ctry {
    font-weight: 600;
    color: #5681f9;
}

.ga-action-third {
    .section-header {
        background: white;
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin: auto;
        align-items: center;

        .sh-top {
            font-size: 1.8rem;
            font-weight: bold;
            line-height: 1;
            margin: 0;
            width: 50rem;
        }

        p {
            display: flex;
            flex-flow: row;
            width: 50rem;
        }
    }
}

// ga-action   
.ga-action-area {
    display: flex;

    .section-header {


        .sh-top {
            display: inline-flex;
            font-size: 2.4rem;
            font-weight: bold;

            .st-cty {
                display: flex;

                .icon-area {
                    width: 40px;
                    height: 40px;
                    margin: 0 10px;


                }
            }
        }

        p {
            font-size: 1.3rem;
            margin: 0;
            line-height: 1.25;
            max-width: 35rem;
            color: rgba(47, 70, 98, 0.6);
        }

    }

    .ga-info-box {
        background: $white;
        box-shadow: 0 0 12px -4px #333333;
        border-radius: 10px;
        // padding: 40px;
        overflow: hidden;

        .ga-header {
            overflow: hidden;
            background: white;
            z-index: 2;
            position: relative;

            &:after {
                content: "";
                height: 24px;
                width: 100%;
                position: absolute;
                left: 0;
                background: linear-gradient(-180deg, white, #46464621);
                bottom: -5px;
                z-index: -1;
            }

            .tab-list {
                display: inline-flex;

                .tab-item {
                    padding: 30px;
                    min-width: 20rem;
                    text-align: center;
                    border: none;
                    margin-right: -1px;
                    border-right: 1px solid #ccc;

                    &:hover {
                        cursor: pointer;
                    }

                    &.active {
                        background: #fff;
                        box-shadow: 0 0 22px -9px #333;
                        border-top-right-radius: 10px;
                        border-top-left-radius: 10px;
                        border: none;
                        font-weight: bold;

                    }

                    .ga-itme-h {
                        display: inline-flex;

                        .icon-area {
                            background: #5f0922;
                            border-radius: 50%;
                            color: white;
                            margin-right: 10px;
                            line-height: 1;
                            height: 26px;
                            width: 26px;
                            text-align: center;
                            padding-top: 4px;
                            display: none;
                        }
                    }

                    &.active {
                        .icon-area {
                            display: block;
                        }
                    }

                }
            }
        }

        .ga-body {
            .ga-content {
                padding: 40px;
                display: none;

                .ga-s-content {
                    display: flex;
                    flex-flow: row nowrap;

                    .ga-s-info {
                        display: flex;
                        width: 16rem;
                        flex-flow: column;

                        .ga-s-info-title {
                            margin-bottom: 0;
                            line-height: 1;
                        }

                        .ga-s-info-value {
                            font-size: 1.6rem;
                            line-height: 1;
                            margin-top: 15px;

                            .has_underline {
                                border-bottom: 1px dashed #333;
                                display: inline-block;
                                padding-bottom: 4px;
                            }
                        }
                    }

                    .ga-s-btn {
                        .btn {
                            padding: 20px;
                            width: 15rem;
                            border-radius: 46px;
                            line-height: 1;
                            margin: 6px;
                            background: #640e27;
                            border-color: #640e27;

                            &:hover {
                                background: #a52045;
                                border-color: #a52045;
                            }
                        }
                    }

                }

                &.hide {
                    display: none;
                }

                &.active {
                    display: block;
                }
            }
        }

    }


}

.cu-ct-section {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    .a-btn {
        border: none;
        border-radius: 34px;
        text-align: center;
        width: 14rem;
        font-weight: bold;

        &:hover {
            text-decoration: none;
        }

        &.has_background {
            padding: 10px;
            background: rgba($color: #a22c4f, $alpha: .7);
            color: white;
            box-shadow: 0 0 12px -5px #333;

            &:hover {
                background: rgba($color: #a22c4f, $alpha: .9);
            }
        }
    }
}

.why-us {
    display: flex;
    flex-flow: row;
    justify-content: center;

    .ww-info {
        width: 17rem;
        display: inline-flex;

        .icon-area {
            width: 2rem;
            margin-right: 0.7rem;
            font-size: 1.7rem;
            margin-top: -7px;
            color: #5f0922;
        }

        .ww-desc {
            p {
                margin: 0;
                font-weight: bold;
                color: rgba(47, 70, 98, 0.6);
                line-height: 1;
            }

            span {
                color: #5f0922;
                font-size: 15px;
                line-height: 1;
            }
        }
    }
}


.col-content {
    display: inline-flex;
    width: 79rem;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
    flex-flow: row;
    padding: 40px;

    .col-c-info {
        display: inline-flex;
        flex-flow: column;
        flex: 1;

        &.col-half {
            flex-grow: 0;
            max-width: 50%;
            flex-basis: 50%;
        }

        .col-title {
            font-size: 1.6rem;
            color: #a22c4f;
        }

        p {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            color: rgba(47, 70, 98, 0.6);
        }

        .col-link {
            font-size: 1.2rem;
            color: rgba(32, 65, 114, .8);

            &:hover {
                text-decoration: none;
                color: rgba(47, 70, 98, 0.6);
            }
        }
    }

    &.fl-left {
        flex-flow: row-reverse;
    }
}

.htse-area {
    .htse-header {
        width: 40rem;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: auto;

        h4 {
            font-size: 1.7rem;
        }

        .sec-para {
            font-size: 1.2rem;
            margin: 0;
        }
    }

    .htse-content {
        display: flex;
        flex-flow: row;
        flex: 1;
        column-gap: 40px;

        .col-content-htse {
            justify-content: center;
            display: flex;
            flex-flow: column;
            align-items: center;
            background: white;
            text-align: center;
            padding: 23px;
            border-radius: 10px;
            box-shadow: 0 0 12px 1px #ccc;

            .col-title {
                color: #640e27;
            }

            &.txt-left-aligh-left {
                align-items: start;
            }

            &.txt-left {
                text-align: left;
            }

            .icon-area {
                margin-bottom: 1rem;
            }

            .col-content-desc {
                font-size: 1.1rem;
                margin: 10px 0 0;
            }

            .col-link {
                border-radius: 42px;
                margin: 19px 0 10px;
                background: rgba($color: #a22c4f, $alpha: .7);
                width: 90%;
                font-size: 19px;
                padding: 10px;
                color: $white;

                &.no-padding {
                    padding-left: 0;
                }

                &.no-background {
                    background: none;
                    color: rgba(47, 70, 98, 0.6);

                }

                &:hover {
                    background: rgba($color: #a22c4f, $alpha: .9);

                    &.no-background {
                        background: none;
                        color: rgba($color: #a22c4f, $alpha: .9);
                    }
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.table {
    margin: 0;


    td,
    th {
        border: none;
        padding: 5px;
    }


    td,
    th {
        &:last-child {
            text-align: right;
        }
    }

    tfoot {
        tr {
            &:first-child {
                th {
                    border-top: 1px solid #ccc;
                }
            }
        }
    }
}

.abt-app {

    .abt-content {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        min-height: 36rem;

        .abt-col {
            width: 50%;
            height: inherit;
            margin: auto;
            display: flex;
            position: relative;
            justify-content: center;

            &.inf-sid {
                padding-right: 30px;
            }

            .mb-s {
                position: relative;
                z-index: 1;

                .mob-bg {
                    width: 50%;
                    height: inherit;
                    margin: auto;
                    display: flex;
                    position: relative;
                    justify-content: center;
                    background: white;
                    border-radius: 24px;

                    &:last-child {
                        position: absolute;
                        left: -20%;
                        z-index: -1;
                        background: white;
                        width: 52%;
                        top: 25px;
                    }
                }
            }

            &.inf-sid {
                flex-flow: column;
            }

            .abt-title {
                font-size: 2.3rem;
                color: #640e27;
            }

            p {
                margin: 0;
                // padding: ;
                font-size: 1.2rem;

            }

            .abt-store {
                display: flex;
                flex-flow: row;
                column-gap: 2rem;
                margin-top: 1rem;

            }
        }
    }
}

.big-info-box {
    padding-left: 60px;
    padding-right: 60px;

    .big-info {
        display: flex;
        flex-flow: row;
        column-gap: 10rem;
        justify-content: center;
        align-items: center;
        min-height: 35rem;
        position: relative;

        .bg-info-col {
            flex: 1.5;
            justify-content: center;
            align-items: center;

            p {
                font-size: 1.2rem;
                margin: 0;
                padding: 15px 0;
                color: rgba(47, 70, 98, 0.6);
            }

            .big-link {

                color: rgba(47, 70, 98, 0.6);
                font-size: 1.1rem;
                margin: .75rem 0;
                float: left;
                display: flex;
                align-items: center;
                justify-content: left;
                width: 100%;

                &:hover {
                    text-decoration: none;
                    color: rgba($color: #a22c4f, $alpha: .9);
                }
            }

            &:last-child {
                flex: 1;
            }

            .big-info-picture {
                position: absolute;
                top: 0;

                &.fis-im {
                    left: 4rem;
                    top: 3rem;
                }

                &.trd-im {
                    left: 28rem;
                    top: 5rem;
                }

                &.snd-im {
                    left: 9rem;
                    top: 19rem;
                    transform: rotate(6deg);
                }

            }

            &:last-child {
                max-width: 33rem;
            }
        }

        &.f-right {
            flex-flow: row-reverse;

            .bg-info-col {

                .big-info-picture {
                    position: absolute;
                    top: 0;

                    &.fis-im {
                        right: 8rem;
                        top: 3rem;
                        left: auto;
                    }

                    &.trd-im {
                        right: 24rem;
                        top: 5rem;
                        left: auto;
                    }

                    &.snd-im {
                        right: 9rem;
                        top: 19rem;
                        transform: rotate(6deg);
                        left: auto;
                    }

                }


            }
        }
    }

    .big-get-s {
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin: 0;
        align-items: center;

        .a-btn {
            font-size: 1.1rem;
            padding: 20px 30px;
            background: rgba($color: #a22c4f, $alpha: .7);
            width: 20rem;
            border-radius: 40px;
            line-height: 1;
            text-align: center;
            color: white;

            &:hover {
                text-decoration: none;
                background: rgba($color: #a22c4f, $alpha: .9);

            }
        }
    }
}

.itb-content {
    display: flex;
    flex-flow: column;
    background: $white;
    box-shadow: 0 0 12px -3px #ccc;
    width: 35rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 10px;

    .itb-header {
        padding: 10px;
        text-align: left;
    }

    .itb-body {
        width: 100%;

        .cu-sumary {

            .cur-area {
                display: flex;
                position: relative;
                border-bottom: 1px solid #ccc;
                overflow: hidden;
                flex: 1;

                &:first-child {
                    border-top: 1px solid #ccc;
                }

                label {
                    width: 10rem;
                    text-align: center;
                    position: absolute;
                    align-items: center;
                    justify-content: left;
                    height: 57px;
                    display: flex;
                    margin: 0;
                    text-align: left;
                    padding-left: 43px;
                    color: rgba(52, 58, 64, 0.5);
                    font-weight: 600;
                }

                input {
                    text-align: right;
                    width: 100%;
                    height: 57px;
                    color: #787878;
                    font-size: 1.7rem;
                    line-height: 1;
                    margin: 0;
                    border: none;
                    padding: 0;
                    padding-right: 100px;
                }

                .form-send-c {
                    background: #efefef;
                    position: absolute;
                    right: 0;
                    width: 94px;
                    display: flex;
                    height: 57px;
                    align-items: center;
                    justify-content: center;

                    .ctry-flag {
                        display: inline-flex;
                        width: 26px;
                        height: 26px;
                        margin-right: 10px;
                    }
                }
            }
        }

        .cu-sub-fe {
            padding-left: 40px;
            padding-right: 40px;
            font-weight: 600;

            .table {
                td {
                    color: rgba($color: $dark, $alpha: .5);

                }
            }
        }
    }
}

.ga-f-main {
    display: flex;
    max-width: max-content;
    position: relative;
    justify-content: center;
    column-count: 2;
    column-gap: 10rem;
    margin: auto;

    .ga-f-form-list {
        width: 27rem;
        display: flex;
        flex-flow: column;
        &.ga-recip-list{
            .ist-header{
                font-size: 1.3rem;
            }
            .ga-re-list-content{
                display: flex;
                flex-flow: column;
                a {
                    display: flex;
                    flex-flow: row;
                    box-shadow: 0 0 7px -4px #333;
                    align-items: center;
                    justify-content: flex-start;
                    height: 60px;
                    padding-left: 10px;
                    border-radius: 4px;
                    color: #333;
                    &:hover{
                        text-decoration: none;
                    }
                    .icon-area {
                        font-size: 2rem;
                        margin-right: 2rem;
                        background: #fff0f1;
                        width: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 50px;
                        border-radius: 4px;
                        color: #ff82a6;
                      }
                      .adrep-value {
                        font-size: 1.2rem;
                    }
                }
                .lis-imtent{
                    display: flex;
                    flex-flow: column;
                    row-gap: 15px;
                    a{
                        &.checked{
                            background: rgba($color: #5f0922, $alpha: .7);
                            color: #fff;
                        }
                        &:hover{
                            background: rgba($color: #5f0922, $alpha: .7);
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .form-control {
        height: 38px;
        border: none;
        border-bottom: 2px solid #cccccc;
        border-radius: 0;

        &:focus {
            box-shadow: none;
            border-color: #5f0922;
        }
    }

    select {
        &.form-control {
            border-bottom: 2px solid #cccccc;
            border-radius: 4px;
            border: 2px solid #cccccc;
            padding: 0;
        }
        option{
            font-size: 1rem;
        }
    }




}

.form-feild {
    display: flex;
    flex-flow: column-reverse;
    // margin-bottom: .0;
    border-radius: 4px;

    &.has_select {
        margin-top: 14px;
    }
    select {
        &.form-control {
            border-bottom: 2px solid #cccccc;
            border-radius: 4px;
            border: 2px solid #cccccc;
            padding: 0;
        }
    }
    &.sec-title {
        font-size: 18px;
        font-weight: 600;
        margin: 15px 0 0;

    }

    &.sub_area {
        display: flex;
        flex-flow: row;
        padding-top: 17px;

        .btn {
            width: 33%;
            margin-right: 10px;
        }
    }

    label {
        font-weight: 600;
    }

    label,
    input {
        transition: all 0.2s;
        touch-action: manipulation;
    }

    input {
        font-size: 1rem;
        border: 0;
        border: 2px solid #cccccc;
        font-family: inherit;
        -webkit-appearance: none;
        border-radius: 4px;
        padding: 0;
        cursor: text;
        height: 38px;
        padding: 4px 10px;

        &:focus {
            outline: 0;
            border: 2px solid #5f0922;
        }
    }

    input:placeholder-shown+label {
        cursor: text;
        max-width: 66.66%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transform-origin: left bottom;
        transform: translate(0rem, 0.4rem) scale(1);
        font-weight: 600;
        // color: rgba(47, 70, 98, 0.6);
    }

    ::-webkit-input-placeholder {
        opacity: 0;
        transition: inherit;
    }

    input:focus::-webkit-input-placeholder {
        opacity: 1;
        color: #cccccc;
    }

    input:not(:placeholder-shown)+label,
    input:focus+label {
        transform: translate(0rem, 0.4rem) scale(1);
        cursor: pointer;
        // color: #5f0922;
    }

    input:focus+label {
        color: #5f0922;
    }

}

.has_prefix {
    position: relative;

    input {
        padding-left: 70px;
    }

}

.country-prefix {
    position: absolute;
    padding: 0 10px;
    font-size: 18px;
    border-right: 2px solid #ccc;

    &::before {
        content: "+";
        margin-bottom: 10px;
        line-height: 2;
    }

}

.info-sticky-bar {
    width: 25rem;
    background: white;
    border-radius: 5px;

    top: 5rem;
    box-shadow: 0 0 6px 0px #cccc;
    padding: 10px;
    border: 1px solid #ccc;

    &.has_sticky {
        position: fixed;
    }

    .ist-header {
        font-weight: bold;
        color: #2F4662;
        padding: 10px 10px;
        border-bottom: 1px solid #ccc;
        font-size: 1.3rem;
        line-height: 2rem;

        .cty-flgs {
            float: right;
            // margin-top: 0;

            ul {
                margin: 0;
                padding: 0;

                li {
                    height: 26px;
                    width: 26px;
                    background: #ccc;
                    float: left;
                    border-radius: 50%;
                    text-align: center;
                    list-style: none;
                    border: 2px solid #ccc;
                    display: inline-flex;

                    &:last-child {
                        margin-left: -5px;
                        // position: relative;
                        z-index: -1;
                    }
                }
            }
        }
    }

    .ist-content {
        position: relative;
        .s-continue{
            margin: 10px ;
            .c-abtn{
                width: 100%;
                border: none;
                background: rgba($color: #5f0922, $alpha: .7);
                color: #ffffff;
                line-height: 1;
                padding: 9px 10px;
                height: 40px;
                border-radius: 4px;
                text-transform: capitalize;
            }
        }
        table {
            margin: 0;

            tbody {
                td {
                    border: none;
                }
            }

            td {
                &:last-child {
                    text-align: right;
                }
            }
        }

        .has_promo {
            display: flex;
            padding: 0 10px;
            border-top: 1px solid #ccc;
            margin-top: 3px;
            padding-top: 10px;

            p {

                width: 87%;
                margin: 0;

            }
        }

        .promo-s {

            max-width: 22rem;
            display: none;
            padding: 15px 10px 10px;

            &.active {
                // display: block;
                display: flex;
                flex-flow: row;
            }

            input {
                width: 15rem;
                border-radius: 0;
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
                box-shadow: none;
                background: none;
                border: 1px solid #ccc;
                padding: 5px;

                &:focus {
                    box-shadow: none;
                    border: none;
                    background: rgba(0, 0, 255, .1);
                }
            }

            button {
                width: 7rem;
                border-radius: 0;
                border-bottom-right-radius: 4px;
                border-top-right-radius: 4px;
            }
        }

        .switch {
            width: 49px;
            height: 22px;
            float: right;
            position: relative;
            margin: 1px 0 0;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 4px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.slider {
            background-color: #2196F3;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    }

}

.dasboar-area {

    $heading-font-family: 'Montserrat',
        sans-serif;

    .main {
        display: flex;
        flex-flow: row nowrap;

    }

    aside {
        width: 250px;
        background: #fafbfb;
        border-right: 1px solid #ebebeb;



        .side-nav {

            // padding:0  30px;
            li {
                a {
                    float: left;
                    line-height: 1;
                    width: 100%;
                    padding: 0 1.6rem;
                    line-height: 2.5rem;
                    font-weight: bold;
                    border-left: 4px solid transparent;
                    color: rgba(47, 70, 98, .6);
                    transition: color 2.5s cubic-bezier(0.215, 0.610, 0.355, 1);

                    &.active,
                    &:hover {
                        color: #5f0922;
                        border-left: 4px solid #5f0922;
                        text-decoration: none;

                    }

                    &.active {
                        &:hover {
                            border-color: #5f0922;
                        }
                    }

                    &:hover {
                        border-color: transparent;
                    }
                }

                &.na-seprator {
                    position: relative;
                    float: left;
                    width: 100%;

                    &::after {
                        content: "";
                        position: absolute;
                        height: .02rem;
                        width: 80%;
                        left: 10%;
                        top: 0;
                        background: #cccccc;
                    }
                }
            }
        }
    }

    header {
        float: left;
        width: 100%;
        background: white;
        padding: 28px;
        box-shadow: 6px -3px 9px -1px #333;
        border-bottom: 1px solid #ccc;
        display: flex;

        .lang-s {
            display: flex;
            width: 87px;

            select {
                width: 100%;
                float: left;
                border: none;
            }
        }

        .menu-are {
            width: 100%;

            .s-list {
                display: flex;
                flex-direction: row-reverse;
                margin: 0;
                padding: 0;

                li {
                    color: rgba(47, 70, 98, 0.4);
                    width: auto;
                    border: none;
                    display: flex;
                    padding: 1.6px 12px;
                    font-size: 1rem;
                    align-items: center;
                    line-height: 1.5;
                    white-space: nowrap;

                    .ls-anchor {
                        color: #333;
                        transition: all 300ms linear;

                        &:hover {
                            text-decoration: none;
                            color: #5f0922;
                        }

                        &.cause {
                            background: #5f0922;
                            color: white;
                            padding: 6px 16px 9px;
                            border-radius: 5px;
                        }
                    }

                    .btn {
                        background: transparent;
                        color: rgba(47, 70, 98, 0.9);
                        border: none;

                        &:focus,
                        &.focus {
                            box-shadow: none;
                            background: none;
                        }


                    }

                    .dropdown-menu {
                        width: 18rem;
                        top: 2rem;
                        right: calc(5vw + 3.4%) !important;
                        left: auto;
                        padding: 0;

                        a {
                            border-bottom: 1px solid #eaecef;
                            padding: .75rem;
                            width: 100%;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }

    }

    .logo-area {
        h1 {
            font-size: 25px;
            line-height: 1;
            position: relative;
            margin: 0;

            span {
                color: #5f0922;
            }
        }

    }

    .main-content {
        background: #fff;
        width: 100%;
        min-height: 47rem;


    }

    .content-section {
        padding: 60px;

        &.s-p-ar {
            padding: 10rem;
        }


    }

    .classinfo-abt {
        display: none;

        &.active {
            display: block;
        }

        .dsh-title-s {
            font-weight: bold;
            margin-bottom: 19px;
            font-size: 2rem;

            .ad-rec {
                float: right;
                font-size: 12px;
                margin-top: 20px;

                a {
                    padding: 4px 15px;
                    font-weight: bold;
                    background: #a22c4f;
                    color: #fff;
                    border-radius: 4px;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .main-my-details {


        &.hide {
            display: none;
        }

        &.active {
            display: block;
        }

    }

    .my-profile-complet {
        display: none;

        &.active {
            display: block;
        }
    }

    .dsh-content {
        .no-transaction {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;

            .bt-s-link {
                padding: 10px 30px;
                border-radius: 30px;
                background: rgba($color: #a22c4f, $alpha:0.6);
                color: $white;

                &:hover {
                    text-decoration: none;
                    background: rgba($color: #a22c4f, $alpha:0.9);
                }
            }
        }

        .nav-tabs {
            border-bottom: 4px solid #dee2e6;
            column-gap: 2rem;

            .nav-link {
                text-align: left;
                font-size: 1.2rem;
                font-weight: bold;
                color: rgba(47, 70, 98, 0.6);
                border: none;
                border-bottom: 4px solid transparent;
                margin-bottom: -4px;
                padding: 10px 0;

                &.active {

                    border-bottom: 4px solid rgba(47, 70, 98, 0.9);
                    color: rgba(47, 70, 98, 0.9);

                    &:hover {
                        border-bottom: 4px solid rgba(47, 70, 98, 0.9);
                        color: rgba(47, 70, 98, 0.9);
                    }
                }

                &:hover {
                    border-color: transparent;
                    color: rgba(47, 70, 98, 0.6);
                }
            }
        }

        .my-content {
            padding: 20px 22px;
            box-shadow: 0 0 12px -5px #d2d2d2;
            margin: 20px 0;
            border-left: 5px solid #ccc;
            display: flex;
            align-items: center;
            line-height: 1;

            &.has_conetent {
                display: none;
            }

            .icon-area {
                font-size: 1.3rem;
                margin-right: 1rem;
                background: rgba($color: $success, $alpha:0.4);
                padding: 5px;
                border-radius: 50%;
                color: rgba($color: $success, $alpha:0.7);
                font-weight: normal;
            }

            .my-no-info {
                font-size: 1.1rem;
            }

        }

        .check-list {

            // margin: 10px 0;

            ul {
                margin: 0;


                li {

                    font-weight: bold;
                    line-height: 1;
                    font-size: 1.2rem;
                    margin-bottom: 10px;

                    i {
                        padding: 8px;
                        background: #a22c4f;
                        border-radius: 19px;
                        color: white;
                        line-height: 1;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 10px;
                        margin-right: 5px;
                    }

                    &:last-child {
                        i {
                            background: $success;
                        }
                    }

                }
            }

            .cbx {
                margin: auto;
                user-select: none;
                cursor: pointer;

                span {
                    display: inline-block;
                    vertical-align: middle;
                    transform: translate3d(0, 0, 0);

                    &:first-child {
                        position: relative;
                        width: 26px;
                        height: 26px;
                        border-radius: 3px;
                        transform: scale(1);
                        vertical-align: middle;
                        border: 1px solid #9098A9;
                        transition: all 0.2s ease;

                        &::before {
                            content: "";
                            width: 100%;
                            height: 100%;
                            background: #a22c4f;
                            display: block;
                            transform: scale(0);
                            opacity: 1;
                            border-radius: 50%;
                        }

                        svg {
                            position: absolute;
                            top: 7px;
                            left: 7px;
                            fill: none;
                            stroke: #FFFFFF;
                            stroke-width: 2;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                            stroke-dasharray: 16px;
                            stroke-dashoffset: 16px;
                            transition: all 0.3s ease;
                            transition-delay: 0.1s;
                            transform: translate3d(0, 0, 0);
                        }
                    }

                }

                &:last-child {
                    padding-left: 8px;
                }

                &:hover {
                    span {
                        &:first-child {
                            border-color: #a22c4f;
                        }
                    }
                }

            }



            .cbx:hover span:first-child {
                border-color: #a22c4f;
            }

            .inp-cbx:checked+.cbx span:first-child {
                background: #a22c4f;
                border-color: #a22c4f;
                animation: wave 0.4s ease;
            }

            .inp-cbx:checked+.cbx span:first-child svg {
                stroke-dashoffset: 0;
            }

            .inp-cbx:checked+.cbx span:first-child:before {
                transform: scale(3.5);
                opacity: 0;
                transition: all 0.6s ease;
            }

            @keyframes wave {
                50% {
                    transform: scale(0.9);
                }
            }


        }

        .sa-btn {
            .bt-s {
                background: #a22c4f;
                color: white;
                border: none;
                padding: 10px 30px;
                border-radius: 5px;

                &.cncl {
                    background: no-repeat;
                    color: #ff6363;
                    font-weight: bold;
                    padding: 0;
                    font-size: 1.1rem;
                }
            }
        }

        .noti-content {
            p {
                margin: 0;
                font-size: 1rem;
            }

            &.helps-s {
                max-width: 40rem;

                p {
                    font-size: .8rem;
                }
            }
        }

    }

    .card-list {
        display: flex;
        flex-flow: row;
        column-gap: 4rem;
        width: 100%;

        .card-info-nav {
            display: flex;
            flex-flow: column;
            width: 17rem;

            .cin-item {
                display: inline-flex;
                height: auto;
                align-items: center;
                border-bottom: 1px solid #ccc;


                &:first-child {
                    border-top: 1px solid #ccc;
                }

                .cin-header {
                    display: flex;
                    flex-flow: row;
                    font-size: 12px;
                    align-items: center;
                    width: 100%;
                    padding: 10px;

                    .icon-area {
                        width: 3rem;
                        margin-right: 1rem;

                        i {
                            font-size: 1.3rem;
                            background: #a22c4f;
                            padding: 10px;
                            border-radius: 50%;
                            color: white;
                            font-weight: bold;
                        }
                    }

                    .cin-name {
                        font-size: 18px;
                        display: flex;
                        flex-flow: column;
                        line-height: 1;

                        .has_balance {
                            font-size: 14px;
                            margin: 7px 0;

                            span {
                                color: #333;
                            }
                        }
                    }


                }




                &.active {
                    background: #f4f4f4;
                }

                &:hover {
                    background: #ececec;
                    text-decoration: none;
                }
            }


        }

        .card-item {
            display: none;

            &.active {
                display: block;
            }

            .ci-title {
                font-size: 1.4rem;
                padding-left: 15px;
            }

            .card-c-body {
                display: flex;
                flex-flow: column;
                width: 31rem;
                padding: 10px;

                .card-form {
                    display: flex;
                    flex-flow: column;

                    .form-control {
                        padding-left: 15px;
                    }

                }

                &.disable-edit {
                    .form-control {
                        border: none;
                        background: rgba(47, 70, 98, 0.1);
                    }
                }
            }

        }
    }



    .mpc-main {
        display: flex;
        width: 100%;
        max-width: 75rem;
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        position: relative;

        a#comp-pro-back {
            align-items: start;
            justify-content: flex-start;
            width: 10rem;
            background: rgba($color: #a22c4f, $alpha:0.6);
            color: white;
            text-align: center;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            padding: 10px;
            border-radius: 34px;

            &:hover {
                text-decoration: none;
                background: rgba($color: #a22c4f, $alpha:0.9);
            }
        }

        .flex-column {

            flex: 1;

            &.column-2-5 {
                min-width: calc(100%/5 * 2.5);
                max-width: calc(100%/5 * 2.5);
            }

            h1 {
                font-weight: bold;
                font-size: 20px;
            }
        }

    }

    .complete-details {
        width: 40rem;
        padding: 30px;
        border-radius: 4px;
        box-shadow: 0 0 12px 0px #ccc;
        display: flex;
        border-bottom: 5px solid #ccc;
        position: relative;
        margin: 40px 0;

        &:after {
            content: "\f105";
            font-family: 'line awesome free';
            font-weight: 900;
            top: 55px;
            position: absolute;
            right: 18px;
            font-size: 1.4rem;
            // color: gold;
            opacity: .4;

        }

        &:hover {
            // background: red;
            cursor: pointer;

            &:after {
                // color: rebeccapurple;
                opacity: 1;
            }
        }

        .icon-area {
            width: 140px;

            img {
                width: 100px;
                height: auto;
                object-fit: contain;
                align-self: center;
            }
        }

        .cmp-info {
            width: calc(100% - 140px);

            .cmp-title {
                font-weight: bold;
            }

            p {
                margin: 0;
                padding: 0;
            }
        }

        .progress-bar {
            height: 5px;
            position: absolute;
            bottom: -5px;
            left: 0;
            border-bottom-left-radius: 5px;
            background: #5f0922;
        }
    }

    .user-basic-info {
        width: 40rem;

        .user-ifno-item {
            padding-bottom: 20px;
            margin-bottom: 20px;
            font-size: 1.22rem;
            box-shadow: 0 6px 4px -9px #2F4662;
            padding-left: 20px;

            .user-info-label {
                font-weight: bold;
                // margin-bottom: 4px;
                color: #2F4662;
            }

            .user-info-value {
                opacity: .6;
                font-size: 1rem;
                margin-top: 5px;
            }
        }
    }

    .bt-table {
        padding: 4px 10px;
        line-height: 1;

        border-radius: 4px;
        float: right;
        margin: 0 5px;

        &.bt-send {
            background: rgba(0, 0, 255, .1);
            color: rgba(0, 0, 255, .6);
        }

        &.bt-edit {
            background: rgba(183, 0, 255, 0.1);
            color: rgba(183, 0, 255, 0.6);
        }

        &.bt-delete {
            background: rgba(255, 0, 0, 0.1);
            color: rgba(255, 0, 0, 0.6);
        }
    }

    .list-info-rep {
        &.hide {
            display: none;
        }
    }

    .add-info-rep {
        &.a-show {
            display: block;
            min-width: 40rem;
        }

        display: none;

        &.active {
            display: block;
        }
    }

    // feild-se
    .add-rep-form {
        display: flex;
        max-width: 30rem;
        flex-flow: column;

        .form-group {
            margin: 0;
        }
    }

    .form-control {
        height: 38px;
        border: none;
        border-bottom: 2px solid #cccccc;
        border-radius: 0;

        &:focus {
            box-shadow: none;
            border-color: #5f0922;
        }
    }



    // stick bar

    .info-sticky-bar {
        width: 25rem;
        background: white;
        border-radius: 5px;
        position: fixed;
        right: 10rem;
        box-shadow: 0 0 6px 0px #cccc;
        padding: 10px;
        border: 1px solid #ccc;

        .ist-header {
            font-weight: bold;
            color: #2F4662;
            padding: 10px 10px;
            border-bottom: 1px solid #ccc;
            font-size: 1.3rem;
            line-height: 2rem;

            .cty-flgs {
                float: right;
                // margin-top: 0;

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        height: 26px;
                        width: 26px;
                        background: #ccc;
                        float: left;
                        border-radius: 50%;
                        text-align: center;
                        list-style: none;
                        border: 2px solid #ccc;
                        display: inline-flex;

                        &:last-child {
                            margin-left: -5px;
                            position: relative;
                            z-index: -1;
                        }
                    }
                }
            }
        }

        .ist-content {
            position: relative;

            table {
                margin: 0;

                tbody {
                    td {
                        border: none;
                    }
                }

                td {
                    &:last-child {
                        text-align: right;
                    }
                }
            }

            .has_promo {
                display: flex;
                padding: 0 10px;
                border-top: 1px solid #ccc;
                margin-top: 3px;
                padding-top: 10px;

                p {

                    width: 87%;
                    margin: 0;

                }
            }

            .promo-s {

                max-width: 22rem;
                display: none;
                padding: 15px 10px 10px;

                &.active {
                    // display: block;
                    display: flex;
                    flex-flow: row;
                }

                input {
                    width: 15rem;
                    border-radius: 0;
                    border-bottom-left-radius: 4px;
                    border-top-left-radius: 4px;
                    box-shadow: none;
                    background: none;
                    border: 1px solid #ccc;
                    padding: 5px;

                    &:focus {
                        box-shadow: none;
                        border: none;
                        background: rgba(0, 0, 255, .1);
                    }
                }

                button {
                    width: 7rem;
                    border-radius: 0;
                    border-bottom-right-radius: 4px;
                    border-top-right-radius: 4px;
                }
            }

            .switch {
                width: 49px;
                height: 22px;
                float: right;
                position: relative;
                margin: 1px 0 0;
            }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
            }

            .slider:before {
                position: absolute;
                content: "";
                height: 16px;
                width: 16px;
                left: 4px;
                bottom: 3px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

            input:checked+.slider {
                background-color: #2196F3;
            }

            input:focus+.slider {
                box-shadow: 0 0 1px #2196F3;
            }

            input:checked+.slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }

            /* Rounded sliders */
            .slider.round {
                border-radius: 34px;
            }

            .slider.round:before {
                border-radius: 50%;
            }
        }

    }
}