.lg-header-area {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.lg-header-area span {
  font-size: 13px;
  display: block;
}

.d-re {
  position: relative;
}

.d-re .emil-icon {
  font-size: 1.7rem;
  position: absolute;
  left: 7px;
  top: 5px;
  color: #819cc9;
}

.d-re .emil-icon.s-right {
  right: 10px;
  left: auto;
  font-size: 16px;
  color: #ccc;
  top: 13px;
}

.d-re .emil-icon.s-right.s-pase:hover {
  cursor: pointer;
  color: red;
}

.form-control {
  padding: 10px;
  height: 50px;
  margin-bottom: 17px;
  font-size: 16px;
  padding-left: 50px;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #819cc9;
}

.login-sections {
  background: #f1f1f1;
}

.login-sections .login-view {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.login-sections .login-view.b-box {
  min-width: 26rem;
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.75rem;
  border-radius: calc(2 * .25rem);
  -webkit-box-shadow: 0 0.125rem 0.375rem 0 rgba(47, 70, 98, 0.1);
          box-shadow: 0 0.125rem 0.375rem 0 rgba(47, 70, 98, 0.1);
  background: #fff;
}
/*# sourceMappingURL=login.css.map */