.lg-header-area {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;

    span {
        font-size: 13px;
        display: block
    }
}


.d-re {
    position: relative;

    .emil-icon {
        font-size: 1.7rem;
        position: absolute;
        left: 7px;
        top: 5px;
        color: #819cc9;

        &.s-right {
            right: 10px;
            left: auto;
            font-size: 16px;
            color: #ccc;
            top: 13px;

            &.s-pase {
                &:hover {
                    cursor: pointer;
                    color: red;
                }
            }
        }
    }
}
.form-control {
    padding: 10px;
    height: 50px;
    margin-bottom: 17px;
    font-size: 16px;
    padding-left: 50px;

    &:focus {
        box-shadow: none;
        border: 2px solid #819cc9;
        // color: #133672;
    }
}

.login-sections {
    background: #f1f1f1;

    .login-view {
        flex: 1;

        &.b-box {
            min-width: 26rem;
            max-width: 26rem;
            margin-left: auto;
            margin-right: auto;
            padding: 1.75rem;
            border-radius: calc(2 * .25rem);
            box-shadow: 0 0.125rem 0.375rem 0 rgba(47, 70, 98, .1);
            background: #fff;

        }
    }
}